.container{ /* container that separates the left and right content */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px 25px;

}

.zed-image-container{ /* image that is displayed on the left side of the container */

    width: 504px;
    height: 443px;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: column;*/
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

a{
    text-decoration: none;
    color: rgb(37, 51, 133);
    font-weight: bold;
}

h1{ /* title that is displayed on the right side of the container */

    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(3, 37, 65);
}

.right-container{ /* container that separates the right content */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: column;*/
    gap: 20px;
}

p{ 

    font-weight: bold;
}

button{
    color: white;
    background-color: grey;
    padding: 10px 10px;
    border-radius: 5px;
}

button:hover {
    transform: translateY(-3px); /* Slightly move the button up */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }
  
button:active {
      transform: translateY(1px); /* move down slightly when clicked */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* change shadow when clicked */
  }

input[type="text"],
input[type="password"] { /* Combined selector */
  padding: 10px 10px;
  width: 100%; /* Make inputs fill their container */
  border: 1px solid #181616; /* Consistent border color */
}

.names-container{
    display: flex;
    gap: 10px;
}

.left-container{
 width: 50%;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast { /* toast message that is displayed when the user signs up */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.toast.fade-out {
    opacity: 0;
}

#toast-container {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    z-index: 1000;
}

#password,
#cpassword {
  padding-right: 30px; /* Adjust as needed */
  background-image: url("view.png"); /* Replace with your image path */
  background-repeat: no-repeat;
  background-position: right 8px center; /* Adjust positioning */
  background-size: 20px; /* Adjust size */
}

